.font-size-16 {
    font-size: 16px!important;
}

.font-weight-400 {
    font-weight: 400!important;
}

.display-flex .col {
    flex: 1 0 0%;
}

.display-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap ;
}